@model ShoppingCart

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>

<form method="post" class="mb-5">
    <input hidden asp-for="Id" />
    <link href="~/css/imagezoom.css" rel="stylesheet" />
    <div class="card shadow border-0 mt-4 mb-5">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.Name</h3>
                    <p class="text-white-50 fw-semibold mb-0">@Model.Product.Category.Name</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">


                        <div id="wrapper">

                            <div id="slider-wrap">
                                <ul id="slider" style="margin-right:-68px">
                                   
                                    <li data-color="#1abc9c">
                                        <div class="wrap" style="width:300px ; margin:0">
                                            <div class="div col-10" id="imgMain" data-image="@Model.Product.ImageUrl" data-image-zoom="@Model.Product.ImageUrl" data-size="100"></div>
                                        </div>
                                    </li>

                                    <li data-color="#1abc9c">
                                        <div class="wrap" style="width:300px; margin:0">
                                            <div class="div col-10" id="imgMain" data-image="@Model.Product.ImageOne" data-image-zoom="@Model.Product.ImageOne" data-size="100"></div>
                                        </div>
                                    </li>

                                    <li data-color="#1abc9c">
                                        <div class="wrap" style="width:300px; margin:0">
                                            <div class="div col-10" id="imgMain" data-image="@Model.Product.ImageTwo" data-image-zoom="@Model.Product.ImageTwo" data-size="100"></div>
                                        </div>
                                    </li>

                                    <li data-color="#1abc9c">
                                        <div class="wrap" style="width:300px; margin:0">
                                            <div class="div col-10" id="imgMain" data-image="@Model.Product.ImageThree" data-image-zoom="@Model.Product.ImageThree" data-size="100"></div>
                                        </div>
                                    </li>


                                </ul>

                                <!--controls-->
                                <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                                <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                                <div id="counter"></div>

                                <div id="pagination-wrap">
                                    <ul>
                                    </ul>
                                </div>
                                <!--controls-->

                            </div>

                        </div>


                        @* <img src="@Model.Product.ImageUrl" width="100" class="rounded w-75" /> *@


                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge">@Model.Product.Category.Name</span>
                        </div>
                        <div class="row">
                            <h3 class="text-dark text-uppercase">@Model.Product.Name</h3>

                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @Model.Product.ListPrice.ToString("c")
                                </span>
                            </h6>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                            </div>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Product.Price.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Product.Price50.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Product.Price100.ToString("c")</div>
                            </div>
                        </div>
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Product.Description)</p>
                        </div>
                        @if(!User.IsInRole(SD.Role_Admin))
                        {
                            <div class="row pl-2 mb-3">
                                <div class="col-md-5">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                              id="inputGroup-sizing-default">
                                            Count
                                        </span>
                                        <input asp-for="Quantity" type="number" class="form-control text-end" aria-label="Sizing example input"
                                               aria-describedby="inputGroup-sizing-default" value="1">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 pb-1">
                                    <button type="submit"
                                            class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/detailsimg.js"></script>
    <script>
        $.fn.magnifierRentgen = function () {

            return this.each(function () {

                var th = $(this),
                    dataImage = th.data("image"),
                    dataImageZoom = th.data("image-zoom"),
                    dataSize = th.data("size");

                th
                    .addClass("magnifierRentgen")
                    .resize(function () {
                        th.find(".data-image, .magnifier-loupe img").css({
                            "width": th.width()
                        })
                    })
                    .append("<img class='data-image' src='" + dataImage + "'><div class='magnifier-loupe'><img src='" + dataImageZoom + "'>")
                    .hover(function () {
                        th.find(".magnifier-loupe").stop().fadeIn()
                    }, function () {
                        th.find(".magnifier-loupe").stop().fadeOut()
                    })
                    .find(".data-image").css({
                        "width": th.width()
                    }).parent().find(".magnifier-loupe").css({
                        "width": dataSize,
                        "height": dataSize
                    })
                    .find("img").css({
                        "position": "absolute",
                        "width": th.width()
                    });

                th.mousemove(function (e) {

                    var elemPos = {},
                        offset = th.offset();

                    elemPos = {
                        left: e.pageX - offset.left - dataSize / 2,
                        top: e.pageY - offset.top - dataSize / 2
                    }

                    th
                        .find(".magnifier-loupe").css({
                            "top": elemPos["top"],
                            "left": elemPos["left"]
                        })
                        .find("img").css({
                            "top": -elemPos["top"],
                            "left": -elemPos["left"],
                            "width": th.width()
                        })

                });

                $(window).resize(function () {
                    $(".magnifierRentgen").resize();
                });

            });

        };

        $(".div").magnifierRentgen();
    </script>

}