@model HomeVM

<link href="~/css/homelist.css" rel="stylesheet" />
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
        @foreach (var banner in Model.banners.Where(u => u.OfferType == "banner").Select((value, index) => new { Value = value, Index = index }))
        {

            <a href="@banner.Value.OfferUrl" class="carousel-item  @(banner.Index == 0 ? "active" : "")">
                <div>
                    <img src="@banner.Value.ImageUrl" class="d-block w-100" alt="@banner.Value.OfferName">
                </div>
            </a>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


@*------------- Latest arrivals-------------------- *@
<div class="row pb-3">
    <div class="continer">
        <h6 class="bg-primary text-white w-100 my-3 p-2 text-start">New Arrivels</h6>

        <ul class="product_list mb-2 list">

            @foreach (var product in Model.products.OrderByDescending(p => p.AddedDate).Take(6))
            {
                <li class="product_item  me-4 mb-3 rounded">
                    @if (product.Stock == 0)
                    {
                        <div class="product_sale">
                            <p>Out Of Stock</p>
                        </div>
                    }
                    
                    <div class="product_image d-flex justify-content-center align-items-center flex-wrap">
                        <a href="#"><img id="img" src="@product.ImageUrl" alt=""></a>
                        <div class="product_buttons">
                            <button onclick="AddORremove(@product.Id)" class="product_heart"><i class="fa fa-heart"></i></button>
                            <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>

                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title  text-nowrap overflow-hidden">
                            <h5 style="text-overflow:ellipsis;">@product.Name</h5>
                        </div>
                        <div class="product_price">
                            @if(product.DiscountPrice == 0)
                            {
                                <a href="#">@* <span class="price_old">@product.ListPrice.ToString("c")</span> *@ <span class="price_new">@product.Price.ToString("c")</span></a>

                            }
                            else
                            {
                                <a href="#"><span class="price_old">@product.Price.ToString("c")</span> <span class="price_new">@product.DiscountPrice.ToString("c")</span></a>

                            }
                        </div>
                        <div class="col-12">
                            <div>
                                <a asp-action="Details"
                                   asp-route-productId="@product.Id"
                                   class="btn btn-primary bg-gradient border-0 form-control ">
                                    Details
                                </a>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <button onclick="AddORremove(@product.Id)" class="product_heart"><i class="fa fa-heart"></i></button>
                            <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>

@*------------- BEST SELLING PRODUCTS-------------------- *@
<div class="row pb-3">
    <div class="continer">
        <h6 class="bg-primary text-white w-100 my-3 p-2 text-start">BEST SELLING PRODUCTS</h6>

        <ul class="product_list mb-2 list">

            @foreach (var product in Model.products
            .OrderByDescending(p => Model.orderDetails.Count(od => od.ProductId == p.Id))
            .ToList().Take(6))
            {
                <li class="product_item  me-4 mb-3 rounded">
                    @if (product.Stock == 0)
                    {
                        <div class="product_sale">
                            <p>Out Of Stock</p>
                        </div>
                    }
                    <div class="product_image d-flex justify-content-center align-items-center flex-wrap">
                        <a href="#"><img id="img" src="@product.ImageUrl" alt=""></a>
                        <div class="product_buttons">
                            <button onclick="AddORremove(@product.Id)" class="product_heart"><i class="fa fa-heart"></i></button>
                            <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>

                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title text-nowrap overflow-hidden">
                            <h5>@product.Name</h5>
                        </div>
                        <div class="product_price">
                            <a href="#">@* <span class="price_old">@product.ListPrice.ToString("c")</span> *@ <span class="price_new">@product.Price100.ToString("c")</span></a>
                        </div>
                        <div class="col-12">
                            <div>
                                <a asp-action="Details"
                                   asp-route-productId="@product.Id"
                                   class="btn btn-primary bg-gradient border-0 form-control ">
                                    Details
                                </a>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <button onclick="AddORremove(@product.Id)" class="product_heart"><i class="fa fa-heart"></i></button>
                            <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>

@*------------- BEST SELLING PRODUCTS-------------------- *@
<!--<div class="row pb-3">
    <div class="continer">
        <h6 class="bg-primary text-white w-100 my-3 p-2 text-start">BEST SELLING PRODUCTS</h6>

        <ul class="product_list mb-2 list">

            @* @foreach (var Cate in Model.categories.ToList())
            {
                <li class="product_item  me-4 mb-3 rounded">
                    @* <div class="product_image d-flex justify-content-center align-items-center flex-wrap">
                <a href="#"><img id="img" src="@Cate.ImageUrl" alt=""></a>
                </div> @
                    <div class="product_values">
                        <div class="product_title text-nowrap overflow-hidden">
                            <h5>@Cate.Name</h5>
                        </div>
                    </div>
                </li>
            } *@
        </ul>
    </div>

</div>-->

@section Scripts{
    <script src="~/js/homelist.js"></script>
    <script>
        function AddToCart(productId) {
            var url = "Customer/Home/AddTOcart?ProductId=" + productId;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {

                    toastr.success(data.message);
                }
            });
        }

        function AddORremove(productId) {
            var url = "Customer/WishList/AddORremove?ProductId=" + productId;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {

                    toastr.success("add to wish list successfully");
                }
            });
        }



    </script>
}