@model IEnumerable<Product>

@* @model IEnumerable<Product> *@
<link href="~/css/homelist.css" rel="stylesheet" />
<div class="row pb-3 card-home-c">
    <div class="product_grid">
    <ul class="product_list list">
    @foreach (var product in Model)
        {
            <li class="col-12 p-1 product_item m-3 rounded">
                <div class="product_image">
                    <a href="#"><img src="@product.ImageUrl" alt=""></a>
                    <div class="product_buttons">
                        <button class="product_heart"><i class="fa fa-heart"></i></button>
                        <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>
                        <div class="quick_view">
                            <a href="#"><h6>Quick View</h6></a>
                        </div>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title">
                        <h5>@product.Name</h5>
                    </div>
                    <div class="product_price">
                        <a href="#"><span class="price_old">@product.ListPrice.ToString("c")</span> <span class="price_new">@product.Price100.ToString("c")</span></a>
                        <span class="product_rating"></span>
                    </div>
                    <div class="col-12">
                            <div>
                                <a asp-action="Details"
                                   asp-route-productId="@product.Id"
                                   class="btn btn-primary bg-gradient border-0 form-control ">
                                    Details
                                </a>
                            </div>
                    </div>
                    <div class="product_buttons">
                        <button class="product_heart"><i class="fa fa-heart"></i></button>
                            <button onclick="AddToCart(@product.Id)" class="add_to_cart"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
            </li>
        }
    </ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/homelist.js"></script>
    <script>
        function AddToCart(productId) {
            var url = "Customer/Home/AddTOcart?ProductId=" + productId;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    
                    toastr.success(data.message);
                }
            });
        }

    </script>
}