@model List<Offer>
@{
}
@section head{
    <!-- Bootstrap CSS -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS -->

}


<div class="">
    <div class="row pt-4 pb-3">

        <div class="pagetitle col-12 ">
            <h1>Offers Management</h1>
            
            <div class="row d-flex">
                <nav class="col-md-10">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Dashboard/Index">Admin</a></li>
                        <li class="breadcrumb-item active">Offer Management</li>
                    </ol>

                </nav>
                <div class="col-md-2">
                    <a asp-controller="Offer" asp-action="Upsert" class="btn btn-primary custum-controll-w">
                        <i class="bi bi-plus-circle-fill"></i>
                        <span class="text-nowrap ">Add New Offer</span>
                    </a>
                </div>
            </div>
        </div><!-- End Page Title -->
    </div>
    @if (Model.Count() == 0)
    {
        <div class="col-12 d-flex justify-content-center align-items-center flex-column">
            <img src="~/Images/notAndDeadIcon.png">
            <h1>Offers Not Available</h1>
            <p>Add New Offers</p>
            
        </div>
    }
    else
    {
        @foreach (var Offer in Model)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" id="Offer-name-@Offer.Id">@Offer.OfferName</h5>
                    <button class="btn btn-primary w-100" type="button" onclick="toggleCardBody('@Offer.Id')" aria-expanded="false" aria-controls="card-body-@Offer.Id">
                        Show
                    </button>


                </div>
                <div class="collapse" id="card-body-@Offer.Id">
                    <div class="card-body">
                        <img src="@Offer.ImageUrl" alt="@Offer.OfferName" class="img-fluid">
                    </div>
                </div>
                <div class="card-footer row ">
                
                    <a asp-action="Upsert" asp-controller="Offer" asp-route-id="@Offer.Id" class="btn btn-primary m-1 col-md-3"  id="edit-button-@Offer.Id">Edit</a>
                    <button onclick="Delete('Offer/Delete/@Offer.Id')" class="btn btn-danger m-1 col-md-3" type="button" id="delete-button-@Offer.Id">Delete</button>
                </div>
            </div>
        }

    }
    

</div>
@section Scripts {
    <script type="text/javascript">
        function toggleCardBody(OfferId) {
            $('#card-body-' + OfferId).collapse('toggle');
        }
        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to Delete this Offer!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            window.location.reload();
                            toastr.success(data.message)
                        }
                    })
                }
            })
        }
    </script>
}