@model List<Category>
@{
}


<div class="">
    <div class="row pt-4 pb-3">

        <div class="pagetitle col-12 ">
            <h1>Category List</h1>

            <div class="row d-flex">
                <nav class="col-md-10">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Dashboard/Index">Admin</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>

                </nav>
                <div class="col-md-2">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary custum-controll-w">
                        <i class="bi bi-plus-circle-fill"></i>
                        <span class="text-nowrap ">Add New Category</span>
                    </a>
                </div>
            </div>
        </div><!-- End Page Title -->
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped  table-sm">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Tax
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            @category.Name
                        </td>

                        <td>
                            @category.Tax
                        </td>

                        <td>
                            <div class=" d-flex justify-content-center flex-column flex-lg-row align-item-center" role="group">
                                <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-primary rounded me-1 text-nowrap">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                @* <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-danger rounded ms-1 text-nowrap">
                            <i class="bi bi-trash3-fill"></i> Delete
                            </a> *@
                                <button type="button" onclick="Delete('@category.Id')" class="btn btn-danger rounded ms-1 text-nowrap">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



</div>

@section Scripts{
    <script>
        // Add this script in your page or include it in a separate JavaScript file
        function Delete(categoryId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make an Ajax request
                    $.ajax({
                        url: "/Admin/Category/Delete/" + categoryId,
                        type: "POST", // or "GET" depending on your server-side configuration
                        success: function (data) {
                            Swal.fire({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                icon: "success"
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function (error) {
                            // Handle the error response
                            console.error("Error deleting category", error);
                        }
                    });
                }
            });
        }
    </script>

}