@model ProductVM
@{
}
<form asp-action="Upsert" asp-controller="Product" enctype="multipart/form-data">
    <div class="border p-3 mt-4 mb-5">
        <div class="row pb-2">
            <h2 class="text-primary">
                @(Model.Product.Id != 0 ? "Update" : "Create") Product
            </h2>
            <hr />
        </div>
        <!-- Hidden inputs for product properties -->
        <input asp-for="Product.Id" type="hidden" />
        <input asp-for="Product.DiscountPrice" type="hidden" />
        <input asp-for="Product.ImageUrl" type="hidden" />
        <input asp-for="Product.ImageOne" type="hidden" />
        <input asp-for="Product.ImageTwo" type="hidden" />
        <input asp-for="Product.ImageThree" type="hidden" />

        


        <div class="row p-1 mb-3">
            <!-- Cropper for ImageUrl -->
            <label class="p-0">Product Image</label>
            <div class="card">
                <div class="card-header">Crop Image Main</div>
                <div class="card-body">
                    <div id="cropper" data-default="@Model.Product.ImageUrl" hidden></div>
                    
                </div>
                <div class="card-footer row">
                    <input type="file" id="img" name="img" class="form-control" accept="image/*" />
                    <button type="button" id="newfileupload" style="margin-top:10px"  hidden  class="btn btn-success">Crop</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Crop Image First</div>
                <div class="card-body">
                    <div id="cropper1" data-default="@Model.Product.ImageOne" hidden></div>
                    
                </div>
                <div class="card-footer row">
                    <input type="file" id="img1" class="form-control" accept="image/*" />
                    <button type="button" id="newfile1upload" style="margin-top:10px" hidden  class="btn btn-success">Crop</button>
                </div>
             </div>
            <div class="card">
                <div class="card-header">Crop Image Second</div>
                <div class="card-body">
                    <div id="cropper2" data-default="@Model.Product.ImageTwo" hidden></div>
                    
                </div>
                <div class="card-footer row">
                    <input type="file" id="img2" class="form-control" accept="image/*" />
                    <button type="button" id="newfile2upload" style="margin-top:10px" hidden  class="btn btn-success">Crop</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Crop Image Third</div>
                <div class="card-body">
                    <div id="cropper3" data-default="@Model.Product.ImageThree" hidden></div>
                    
                </div>
                <div class="card-footer row">
                    <input type="file" id="img3" class="form-control" accept="image/*" />
                    <button type="button" id="newfile3upload" style="margin-top:10px"  hidden class="btn btn-success">Crop</button>
                </div>
            </div>
        </div>
        <!-- Hidden inputs for cropped image filenames -->
        <input name="newfile" id="newfile" type="text" hidden />
        <input name="newfile1" id="newfile1" type="text" hidden />
        <input name="newfile2" id="newfile2" type="text" hidden />
        <input name="newfile3" id="newfile3" type="text" hidden />



        <div class="row p-1 mb-3">
            <label asp-for="Product.Name" class="p-0"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.categoryId" class="p-0">Category</label>

            <select asp-for="Product.categoryId" class="p-0 form-select" asp-items="@Model.CategoryList">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.categoryId" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.SubCategory" class="p-0">Sub Category</label>

            <input asp-for="Product.SubCategory" class="form-control" />
            <span asp-validation-for="Product.SubCategory" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.Stock" class="p-0"></label>
            <input asp-for="Product.Stock" class="form-control" />
            <span asp-validation-for="Product.Stock" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.Price100" class="p-0"></label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Product.Description" class="p-0 text-muted"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
        </div>
        <div class="row ">
            <div class="col-6 col-md-3">
                @if (Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" asp-controller="Product" class="btn btn-secondary border form-control">Back TO List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink   emoticons  searchreplace  visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | removeformat',
        });
    </script>
    <script>
        $(document).ready(function () {
            function initializeCropper(elementId, defaultImageUrl, resultInputId) {
                var cropper = $('#' + elementId);
                cropper.croppie({
                    viewport: {
                        width: 150,
                        height: 150,
                    },
                    boundary: {
                        width: 800,
                        height: 500
                    },
                    showZoomer: true,
                    url: defaultImageUrl,
                    format: 'png'
                });

                // Find the file input inside the same card
                var fileInput = cropper.closest('.card').find('input[type="file"]');

                fileInput.on('change', function () {
                    $('#' + elementId).removeAttr('hidden');

                    $('#' + resultInputId + 'upload').removeAttr('hidden');
                    var input = this;
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            cropper.croppie('bind', {
                                url: e.target.result
                            });
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                });

                // Find the button inside the same card
                console.log('cropper:', cropper);
                console.log('resultInputId:', resultInputId);

                var cropButton = cropper.closest('.card').find('#' + resultInputId + 'upload');
                console.log('cropButton:', cropButton);

                cropButton.on('click', function () {
                    console.log('Crop button clicked');

                    cropper.croppie('result', {
                        type: 'blob',
                        format: 'png', // or 'jpeg' or another supported format
                    }).then(function (blob) {
                        var formData = new FormData();
                        formData.append('FORfilename', 'Product.png');

                        formData.append('file', blob);

                        $.ajax({
                            url: '@Url.Action("CropAndSave", "Product", new { area = "Admin" })',
                            method: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.message === 'OK') {
                                    $('#' + resultInputId + 'upload').attr('hidden',true);

                                    $('#' + resultInputId).val(response.filename);
                                    Swal.fire({
                                        position: "center-center",
                                        icon: "success",
                                        title: "Your Image has been saved",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    
                                } else {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'Please Refresh and continue',
                                        icon: 'error',
                                        confirmButtonText: 'Ok'
                                    })
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Please Refresh and continue',
                                    icon: 'error',
                                    confirmButtonText: 'Cool'
                                })
                            }
                        });
                    });
                });
            }

            initializeCropper('cropper', $('#cropper').attr('data-default'), 'newfile');
            initializeCropper('cropper1', $('#cropper1').attr('data-default'), 'newfile1');
            initializeCropper('cropper2', $('#cropper2').attr('data-default'), 'newfile2');
            initializeCropper('cropper3', $('#cropper3').attr('data-default'), 'newfile3');
        });
    </script>


    @{

        <partial name="_ValidationScriptsPartial.cshtml" />

    }
}